:markdown
  ### Hola!

  ### Continguts suportats:

  - Imatges en format PNG i JPEG: `.png`, `.jpeg`, `.jpg`
  - Vídeos en formats estàndar (a través de FFmpeg), e.g.: `.mp4`, `.mov`, `.avi`
  - Àudio en formats estàndar (a través de FFmpeg), e.g.: `.mp3`, `.ogg`, `.wav`

  ### Registre

  Només l'administrador pot donar d'alta a nous usuaris
