- if @current_point
  .panel.panel-default
    .panel-heading
      %h3= @current_point.name
    .panel-body
      .panel.panel-success
        .panel-heading
          %span.glyphicon.glyphicon-info-sign
          Informació
        .panel-body
          .well.well-sm
            %strong Nom:
            =@current_point.name
          .well.well-sm
            %strong Descripció:
            =@current_point.description
          %p
            - if @current_point.published?
              %span.label.label-success
                %span.glyphicon.glyphicon-eye-open
                  Publicat
            - else
              %span.label.label-warning
                %span.glyphicon.glyphicon-eye-close
                Privat
          %ul.list-inline
            %li
              %form{:action => "/point/edit", :method => "GET"}
                %button.btn.btn-sm.btn-info{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita
            %li
              %form{:action => "/point/destroy", :method => "POST"}
                %button.btn.btn-sm.btn-danger{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-remove
                  Esborra
      .panel.panel-info
        .panel-heading
          %span.glyphicon.glyphicon-film
          Multimedia principal
        .panel-body
          %ul.list-inline
            %li
              %form{:action => "/point/multimedia/edit", :method => "GET"}
                %button.btn.btn-sm.btn-info{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita
            %li
              %form{:action => "/point/multimedia/destroy", :method => "POST"}
                %button.btn.btn-sm.btn-danger{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-remove
                  Esborra

      .panel.panel-default
        .panel-heading
          %span.glyphicon.glyphicon-film
          Multimedia extra
        .panel-body
          %ul.list-inline
            %li
              %form{:action => "/point/extra/edit", :method => "GET"}
                %button.btn.btn-sm.btn-info{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita
            %li
              %form{:action => "/point/extra/destroy", :method => "POST"}
                %button.btn.btn-sm.btn-danger{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-remove
                  Esborra
