- if @current_point
  .panel.panel-success
    .panel-heading
      %h3= @current_point.name
    .panel-body
      .panel.panel-primary
        .panel-heading
          %span.glyphicon.glyphicon-info-sign
          Informació
          - if @current_point.published?
            %span.label.label-success
              %span.glyphicon.glyphicon-eye-open
              Publicat
          - else
            %span.label.label-warning
              %span.glyphicon.glyphicon-eye-close
              Privat
        .panel-body
          .well.well-sm
            %strong Nom:
            =@current_point.name
          .well.well-sm
            %strong Descripció:
            =@current_point.description
          %ul.list-inline
            %li
              %form{:action => "/point/edit", :method => "GET"}
                %button.btn.btn-sm.btn-primary{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita
            %li
              %form{:action => "/point/destroy", :method => "POST"}
                %button.btn.btn-sm.btn-danger{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-remove
                  Esborra
      .panel.panel-primary
        .panel-heading
          %span.glyphicon.glyphicon-film
          Multimedia principal
        .panel-body
          %table.table.table-striped
            - if @current_point.multimedias.size > 0
              - @current_point.multimedias.each do |m|
                %tr
                  %td
                    - if m.image?
                      %span.glyphicon.glyphicon-picture
                    - else
                      %span.glyphicon.glyphicon-film
                  %td
                    %a{:href => m.link, :target => "_blank"}= m.name
            - else
              .well.well-sm
                No hi ha cap multimèdia enllaçat
          %ul.list-inline
            %li
              %form{:action => "/point/multimedia/edit", :method => "GET"}
                %button.btn.btn-sm.btn-primary{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita

      .panel.panel-info
        .panel-heading
          %span.glyphicon.glyphicon-film
          Multimedia extra
        .panel-body
          %ul.list-inline
            %li
              %form{:action => "/point/extra/edit", :method => "GET"}
                %button.btn.btn-sm.btn-primary{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita
