%table.table.table-striped
  %tr
    %th
    %th #
    %th Nom
    %th Estat
    %th Data última actualització
    %th Accions
    %th
  - CMS::Models::Extra.all_sorted.each do |e|
    %tr
      %td
        %ul.list-inline
          %li
            %form.form-inline{:role => "form", :action => "/extra/up", :method => "POST"}
              %button.btn.btn-xs{:type => "submit", :name => "id", :value => e.id}
                %span.glyphicon.glyphicon-chevron-up
          %li
            %form.form-inline{:role => "form", :action => "/extra/down", :method => "POST"}
              %button.btn.btn-xs{:type => "submit", :name => "id", :value => e.id}
                %span.glyphicon.glyphicon-chevron-down
      %td
        = e.weight
      %td
        %a{:href => e.link}= e.name
      %td
        - if e.published?
          %span.label.label-success
            Publicat
        - else
          %span.label.label-warning
            Privat
      %td= e.updated_at_pretty
      %td
        - if e.published?
          %form.form-inline{:role => "form", :action => "/extra/unpublish", :method => "POST"}
            %button.btn.btn-xs.btn-warning{:type => "submit", :name => "id", :value => e.id}
              %span.glyphicon.glyphicon-eye-close
              Oculta
        - else
          %form.form-inline{:role => "form", :action => "/extra/publish", :method => "POST"}
            %button.btn.btn-xs.btn-success{:type => "submit", :name => "id", :value => e.id}
              %span.glyphicon.glyphicon-eye-open
              Publica
      %td
        %form.form-inline{:role => "form", :action => "/extra/destroy", :method => "POST"}
          %button.btn.btn-xs.btn-danger{:type => "submit", :name => "id", :value => e.id}
            %span.glyphicon.glyphicon-remove
            Esborra
  %tr
    %td
      %form{:action => "/extra/create", :method => "GET"}
        %button.btn.btn-sm.btn-success{:type => "submit"}
          Nou Extra
    %td
    %td
    %td
    %td
    %td
    %td
