%form.form-big{:role => "form", :action => "/multimedia/edit", :method => "POST"}
  .form-group
    %input.form-control{:type => "text", :name => "name", :value => @current_multimedia.name, :placeholder => "Nom", :required => true, :autofocus => true}
  .form-group
    %textarea.form-control{:rows => "5", :name => "description", :placeholder => "Descripció", :required => true, :autofocus => true}
      = @current_multimedia.description
  .form-group
    .checkbox
      - if @current_multimedia.published
        %input{:type => "checkbox", :name => "published", :checked => true}
      - else
        %input{:type => "checkbox", :name => "published"}
      %label Públic
  %ul.list-inline
    %li
      .form-group.form-inline
        %button.btn.btn-primary{:name => "id", :value => @current_multimedia.id, :type => "submit"}
          %span.glyphicon.glyphicon-ok
          Actualitza
    %li
      %a.btn.btn-warning{:href => @current_multimedia.link}
        %span.glyphicon.glyphicon-chevron-left
        Cancel·la
