- if @current_multimedia
  .panel.panel-default
    .panel-heading
      %h3
        = @current_multimedia.name
        - if @current_multimedia.published?
          %span.label.label-success
            Publicat
        - else
          %span.label.label-warning
            Privat
    .panel-body
      .well.well-sm
        %strong Descripció:
        = @current_multimedia.description
      .well.well-sm
        %img.img-thumbnail{:src => @current_multimedia.thumbnail_link, :alt => "Miniatura"}
      .well.well-sm
        %strong Utilitzat a:
        - if @current_multimedia.points.size == 0
          cap punt d'interès
        - else
          - @current_multimedia.points.each_with_index do |p, i|
            - if i > 0
              ,
            %a{:href => p.link}= p.name

      %ul.list-inline
        %li
          %form{:action => "/multimedia/edit", :method => "GET"}
            %button.btn.btn-sm.btn-primary{:type => "submit", :name => "id", :value => @current_multimedia.id}
              %span.glyphicon.glyphicon-edit
              Edita
        %li
          %form{:action => "/point/destroy", :method => "POST"}
            %button.btn.btn-sm.btn-danger{:type => "submit", :name => "id", :value => @current_multimedia.id}
              %span.glyphicon.glyphicon-remove
              Esborra
        %li
          %form{:action => @current_multimedia.static_link, :method => "GET"}
            %button.btn.btn-sm.btn-success{:type => "submit"}
              %span.glyphicon.glyphicon-download-alt
              Descarrega
