%form#image-create.form-signin{:role => "form", :enctype => "multipart/form-data", :action => "/image/create", :method => "POST"}
  .form-group
    %input#image-create-name.form-control{:type => "text", :name => "name", :placeholder => "Nom", :required => true, :autofocus => true}
  .form-group
    %textarea#image-create-description.form-control{:name => "description", :rows => "3", :placeholder => "Descripció"}
  .form-group
    %textarea#image-create-tip.form-control{:rows => "1", :name => "tip", :placeholder => "Missatge"}
  .form-group
    %input#image-create-file.form-control{:name => "file", :type => "file"}
  .form-group
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"}
      %span.glyphicon.glyphicon-picture
      Envia

%script
  $(document).ready(function(){
  var metrics = [
  ['#image-create-name', 'presence', "Introdueix el nom"],
  ['#image-create-file', 'presence', "Selecciona un fitxer"]
  ];

  $("form#image-create").nod(metrics, nod_options);
  });
