<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/favicon.png">

<title>{{title}}</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/layout.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
                                                                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                                                      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
                                                                          <![endif]-->
</head>

<body>

<div class="container">

  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Cheese Mouse System</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Inici</a></li>
          <li><a href="/multimedia">Multimedia</a></li>
          <li><a href="/points">Punts</a></li>
          {{#admin}}
          <li><a href="/users">Usuaris</a></li>
          {{/admin}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#user}}
            <li><a href="#">Hola, {{name}}</a></li>
            {{#guest}}
            <li>
            <form class="navbar-form" action="/login" method="GET">
              <button type="submit" class="btn btn-sm btn-success">Entra</button>
            </form>
            </li>
            {{/guest}}
            {{^guest}}
            <li>
            <form class="navbar-form" action="/logout" method="GET">
              <button type="submit" class="btn btn-sm btn-danger">Surt</button>
            </form>
            </li>
            {{/guest}}
          {{/user}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="container">
    {{#flash}}
      {{#error}}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{error}}
      </div>
      {{/error}}
      {{#info}}
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{info}}
      </div>
      {{/info}}
      {{#success}}
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{success}}
      </div>
      {{/success}}
    {{/flash}}
    {{{yield}}}
  </div>

</div> <!-- /container -->
<div class="footer">
  <div class="container">
    {{> footer}}
  </div>
</div>


<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
