<!DOCTYPE html>
<html>
<head>
<title>
  {{title}}
</title>
<style>
body { background: #eee; }
li { list-style: none !important; }
</style>
</head>
<body>
<div class="flash">
  {{# flash }}
  <span class="notice">{{ notice }}</span>
  <span class="error">{{ error }}</span>
  {{/ flash }}
</div>
<div id="main">
  {{{yield}}}
</div>
</body>
</html>
