<form id="login" class="form-signin" role="form" action="/login" method="POST">
  <div class="control-group">
    <input id="login-email" type="text" name="email" class="form-control" placeholder="Correu electrònic" required autofocus>
  </div>
  <div class="control-group">
    <input id="login-password" type="password" name="password" class="form-control" placeholder="Contrasenya" required>
  </div>
  <div class="control-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entra</button>
  </div>
</form>
