<table class="table table-stripped">
  <tr>
    <th>Ordre</th>
    <th>Nom</th>
    <th>Descripció curta</th>
    <th>Data creació</th>
    <th>Data última actualizació</th>
    <th>Accions</th>
  </tr>
  {{#list_multimedia}}
  <tr>
    <td>{{weight}}</td>
    <td>{{name}}</td>
    <td>{{description_short}}</td>
    <td>{{created_at}}</td>
    <td>{{updated_at}}</td>
    <td>
      <form action="/multimedia/destroy" method="POST">
        <button type="submit" name="id" value="{{id}}" class="btn btn-sm btn-danger">Esborra</button>
      </form>
    </td>
  </tr>
  {{/list_multimedia}}
  <tr>
    <td>
      <form action="/image/create" method="GET">
        <button type="submit" class="btn btn-sm btn-success">Nova Imatge</button>
      </form>
    </td>
    <td>
      <form action="/video/create" method="GET">
        <button type="submit" class="btn btn-sm btn-success">Nou Vídeo</button>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
