{{#point}}
<div class="panel panel-default">
  <div class="panel-heading">
    {{name}}
  </div>
  <div class="panel-body">
    <div class="well">
      {{description}}
    </div>
  </div>
</div>
{{/point}}
