<p><strong>Total:</strong> {{count}}</strong>
<table class="table table-stripped">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Estat</th>
    <th>Descripció curta</th>
    <th>Data creació</th>
    <th>Data última actualizació</th>
    <th>Accions</th>
  </tr>
  {{#list_point}}
  <tr>
    <td>{{weight}}</td>
    <td><a href="{{link}}">{{name}}</a></td>
    <td>
      {{#published}}
      <span class="label label-success">publicat</span>
      {{/published}}
      {{^published}}
      <span class="label label-warning">privat</span>
      {{/published}}
    </td>
    <td>{{description}}</td>
    <td>{{created_at}}</td>
    <td>{{updated_at}}</td>
    <td>
      <ul class="list-inline">
        <li>
          {{^published}}
          <form class="form-inline" role="form" action="/point/publish" method="POST">
            <button type="submit" name="id" value="{{id}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-eye-open"></span> Publica</button>
          </form>
          {{/published}}
          {{#published}}
          <form class="form-inline" role="form" action="/point/unpublish" method="POST">
            <button type="submit" name="id" value="{{id}}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-eye-close"></span> Oculta</button>
          </form>
          {{/published}}
        </li>
        <li>
          <form class="form-inline" role="form" action="/point/edit" method="GET">
            <button type="submit" name="id" value="{{id}}" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span> Edita</button>
          </form>
        </li>
        <li>
          <form class="form-inline" role="form" action="/point/destroy" method="POST">
            <button type="submit" name="id" value="{{id}}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Esborra</button>
          </form>
        </li>
      </ul>
    </td>
  </tr>
  {{/list_point}}
  <tr>
    <td>
      <form action="/point/create" method="GET">
        <button type="submit" class="btn btn-sm btn-success">Nou Punt</button>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
