{{#point}}
<form class="form-big" role="form" action="/point/edit" method="POST">
  <div class="form-group">
    <input type="text" name="name" class="form-control" value="{{name}}" placeholder="Nom" required autofocus>
  </div>
  <div class="form-group">
    <textarea rows="3" name="description" class="form-control" placeholder="Descripció" required autofocus>{{description}}</textarea>
  </div>
  <div class="form-group">
    <input type="text" name="coords" class="form-control" value="{{coord_x}}, {{coord_y}}" placeholder="Coordenades (latitud i longitud)" required>
  </div>
  <div class="form-group">
    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-film"></span> Multimedia principal
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <tr>
            <th></th>
            <th><span class="glyphicon glyphicon-link"></span></th>
          </tr>
          {{#multimedia}}
          <tr>
            <td>{{name}}</td>
            <td>
              <div class="checkbox">
                <input type="checkbox" name="multimedia-main[{{id}}]" {{#linked}}checked{{/linked}}></input>
            </td>
          </tr>
          {{/multimedia}}
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-film"></span> Multimedia extra
      </div>
      <div class="panel-body">
        Multimedia panel body
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <input type="checkbox" name="published" {{#published}}checked{{/published}}></input>
      <label>Públic</label>
    </div>
  </div>
  <ul class="list-inline">
    <li>
      <div class="form-group form-inline">
        <button class="btn btn-primary" name="id" value="{{id}}" type="submit"><span class="glyphicon glyphicon-ok"></span> Actualitza</button>
      </div>
    </li>
    <li>
    <a class="btn btn-warning" href="/points"><span class="glyphicon glyphicon-chevron-left"></span> Cancel·la</a>
    </li>
  </ul>
</form>
{{/point}}
