<table class="table table-stripped">
  <tr>
    <th>Nom</th>
    <th>Correu electrònic</th>
    <th>Data creació</th>
    <th>Data última actualizació</th>
    <th>Data últim accés</th>
    <th>Accions</th>
  </tr>
  {{#list_user}}
  <tr>
    <td>{{name}}</td>
    <td>{{email}}</td>
    <td>{{created_at}}</td>
    <td>{{updated_at}}</td>
    <td>
      {{#last_login}}
      {{last_login}}
      {{/last_login}}
      {{^last_login}}
      Mai
      {{/last_login}}
    </td>
    <td>
      {{#is_admin}}
      <form action="/user/delete" method="POST">
        <input type="submit" value="Esborra" class="btn btn-sm btn-danger"/>
      </form>
      {{/is_admin}}
    </td>
  </tr>
  {{/list_user}}
  <tr>
    <td><a class="btn btn-sm btn-success" href="/user/create">Nou Usuari</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
