<form id="user-create" class="form-signin" role="form" action="/user/create" method="POST">
  <div class="form-group">
    <input id="user-create-name" type="text" name="name" class="form-control" placeholder="Nom" required autofocus>
  </div>
  <div class="form-group">
    <input id="user-create-email" type="text" name="email" class="form-control" placeholder="Correu electrònic" required autofocus>
  </div>
  <div class="form-group">
    <input id="user-create-password" type="password" name="password" class="form-control" placeholder="Contrasenya" required>
  </div>
  <div class="form-group">
    <input id="user-create-confirm" type="password" name="password_confirm" class="form-control" placeholder="Confirma la contrasenya" required>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input id="user-create-admin" type="checkbox" name="admin"> Aquest usuari serà administrador
      </label>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crea</button>
  </div>
</form>

<script>
$(document).ready(function(){
    var metrics = [
      ['#user-create-name', 'presence', "Introdueix el nom"],
      ['#user-create-email', 'presence', "Introdueix el correu electrònic"],
      ['#user-create-password', 'presence', "Introdueix la contrasenya"],
      ['#user-create-password', 'min-length:5', "La contrasenya ha de tenir com a mínim 5 caracters"],
      ['#user-create-confirm', 'same-as:#user-create-password', "Les contrasenyes no coincideixen"]
    ];

    $("form#user-create").nod(metrics, nod_options);
});
</script>
