<table class="table table-stripped">
  <tr>
    <th>Nom</th>
    <th>Correu electrònic</th>
    <th>Data creació</th>
    <th>Data última actualizació</th>
    <th>Data últim accés</th>
    <th>Accions</th>
  </tr>
  {{#list_user}}
  <tr>
    <td>
      {{name}} {{#admin}}<span class="label label-info">admin</span>{{/admin}}
    </td>
    <td>{{email}}</td>
    <td>{{created_at}}</td>
    <td>{{updated_at}}</td>
    <td>
      {{#last_login}}
      {{last_login}}
      {{/last_login}}
      {{^last_login}}
      Mai
      {{/last_login}}
    </td>
    <td>
      <form action="/user/destroy" method="POST">
        <button type="submit" name="email" value="{{email}}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Esborra</button>
      </form>
    </td>
  </tr>
  {{/list_user}}
  <tr>
    <td>
      <form action="/user/create" method="GET">
        <button type="submit" class="btn btn-sm btn-success">Nou Usuari</button>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
