<form class="form-signin" role="form" action="/register" method="POST">
  <input type="text" name="name" class="form-control" placeholder="Nom d'usuari" required autofocus>
  <input type="text" name="email" class="form-control" placeholder="Correu electrònic" required autofocus>
  <input type="password" name="password" class="form-control" placeholder="Contrasenya" required>
  <input type="password" name="password_confirm" class="form-control" placeholder="Confirma la contrasenya" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registra't</button>
</form>
